header{
  background-color: lightcyan;
  box-shadow: 0 0 8px gray;
  text-align: center;
  padding: 10px;
}

main{
  width: 90%;
  margin: auto;
}



nav a{
  display: inline-block;
  background-color: rgb(7, 203, 203);
  border-radius: 5px;
  margin: 6px;
  padding: 10px;
  text-decoration: none;
  transition: 0.5;
}

nav a:hover{
  background-color:  rgb(6, 108, 108); 
  cursor:pointer;
}

aside{
  border:2px solid gray;
}


.main-container{
  display: flex;
}