.App {
  text-align: center;
  font: 'Jost', 'Averta', Serif, sans-serif;
}

header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header{
  background-color: #34486b;
  box-shadow: 0 0 5px gray;
  padding: 10px;
}
main {
  width: 90%;
  margin: auto;
}

nav a {
  display: inline-block;
  color: white;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  transition: 0.5;
}

nav a:hover{
  background-color: white;
  cursor: pointer;
  color: #34486b;
}
.textInfo{
  color: #34486b;
}
.textInfo p {
  font: sans-serif;
  font-size : 18px;
  line-Height: 2.5;
  color: #34486b;
  text-align: justify;
  text-justify: inter-word;
}
.textInfo img {
width: 100%;
}

